* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: rgb(72, 72, 72);
}

a,
.fa-solid,
#dropdown,
#search {
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
}

a:hover,
.fa-solid:hover,
input:hover::placeholder,
select:hover,
#search:hover {
  color: #E60012;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: white;
  z-index: 2;
}

.nav_top {
  height: 52px;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  gap: 1em;
}
.left div:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E60012;
}
.left div:first-of-type a {
  display: flex;
  padding: 0 1em;
}
.left div:first-of-type a span {
  font-size: 12px;
  border: 3px solid white;
  border-radius: 2em;
  padding: 0 0.7em;
  margin: 0 0.5em;
  color: white;
}
.left div:last-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  margin-top: auto;
  margin-bottom: auto;
}
.left div:last-of-type select, .left div:last-of-type #search {
  height: 2em;
  background-color: white;
  border: none;
}
.left div:last-of-type:hover {
  border-bottom: 1px solid #E60012;
}

#search {
  width: 450px;
}

.list_nav {
  display: flex;
  align-items: center;
  gap: 1em;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  padding: 4px;
}

.fa-solid {
  padding: 0 0.3em;
}

.bottom {
  height: 44px;
  border-top: 1px solid #dfdfdf;
  justify-content: center;
}

#wrapper {
  width: 100%;
  height: 50em;
  position: relative;
  top: 96px;
}

#container_bg {
  position: absolute;
  width: 100%;
  height: 30em;
  background-image: linear-gradient(rgb(160, 146, 246), rgb(213, 187, 218), rgb(253, 219, 197));
}

#container_image {
  position: absolute;
  top: 35px;
  width: 100%;
}
#container_image img {
  display: block;
  width: 95vw;
  height: 32em;
  margin: auto;
  border-radius: 5px;
}

#outro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 3em;
  position: absolute;
  top: 34em;
  width: 100%;
}
#outro div:first-child {
  display: flex;
  align-items: center;
  gap: 1em;
}
#outro div:first-child h2 {
  font-size: 30px;
}
#outro div:first-child div {
  margin-left: 1em;
}
#outro a {
  display: block;
  width: 100%;
  background-color: #E60012;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  border: none;
}
#outro a span {
  color: white;
  font-size: 20px;
}

@keyframes btn {
  from {
    background-color: #E60012;
    padding: inherit;
  }
  to {
    background-color: #AC000D;
    padding: 1em;
  }
}
.btn-effect:hover {
  animation-name: btn;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
}

hr {
  width: 80%;
  margin: auto;
  height: 0px;
}

@media screen and (max-width: 1025px) {
  .nav_top,
  .left,
  .left > div:first-of-type {
    width: 100%;
    justify-content: flex-start;
  }
  .list_nav,
  .nav_top > div:last-of-type {
    display: none;
  }
  .nav_top {
    height: 45px;
  }
  #wrapper {
    top: 45px;
    height: 64em;
    position: relative;
  }
  #container_bg {
    height: 64em;
  }
  #container_image {
    width: 100%;
    top: 0;
    position: absolute;
  }
  #container_image img {
    width: 100%;
    height: auto;
  }
  #outro {
    position: absolute;
    text-align: center;
    flex-direction: column;
    padding: 0 1.5em;
    top: 58.5em;
  }
  #outro div {
    width: 100%;
    margin-top: 0.5em;
    flex-direction: column;
  }
  #outro div div {
    width: 100%;
  }
  hr {
    position: relative;
    width: 95%;
    top: 12em;
  }
}

/*# sourceMappingURL=style.css.map */
