:root {
    --red: #E60012;
    --red-2: #AC000D;
    --text: rgb(72, 72, 72);
    --white: rgb(255, 255, 255);
}

body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    color: var(--text);
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

section {
    display: block;
}

div {
    display: block;
}

img {
    max-width: 195px;
    max-height: 48.24px;
}

h3 {
    font-size: 1rem;
    margin: 0px 0px 1em;
    color: rgb(36, 36, 36);
}
h3:hover {
    border-bottom: solid 2px rgb(36, 36, 36);
    transition: 200ms
}


section.initial-footer {
    background-color: var(--red);
    color: var(--white);
    padding: 2.25rem 1rem ;
    align-items: center;
    justify-items: end;
    display: grid;
    max-width: 90rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
div.red-banner {
    align-items: center;
    justify-items: center;
    display: grid;
    gap: 2rem;
    width: auto;
    box-sizing: border-box;
    grid-template-columns: repeat(4, 1fr);
}


section.middle-footer {
    padding: 2rem 1rem;
    background-color: var(--white);
}
div.middle-container {
    max-width: 90rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
div.grid-middle {
    display: grid;
    margin: 1rem auto;
    justify-content: center;
    grid-template-columns: 15.625rem;
    row-gap: 2rem;
}
div.grid-middle>div {
    border-left: solid 1px rgb(218, 218, 218);
    padding-left: 1.5rem;
    color: var(--red);
    font-weight: bold;
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
}
li {
    margin-bottom: 0.5rem;
}

.middle-container a:hover {
    color: var(--red-2);
    transition: 200ms;
    border-bottom: solid 2px var(--red-2);
    transition: 200ms;
}

div.privacylogo {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
}
#privlogo-link {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


section.end-footer {
    background-color: rgb(36, 36, 36);
    color: var(--white);
    text-align: center;
    padding: 2rem 1rem 114px;
}
div.end-container {
    max-width: 90rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
div.grid-end {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
    font-size: 0.625rem;
}
div.flexbox-end {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
svg {
    width: 44px;
    height: 36px;
}
span.change-region {
    display: flex;
    align-items: center;
    justify-content: center;
}

span.change-region-text {
    padding-left: 5px;
}


    
    /* #ninlogo {
    
    display:flex;
    flex-wrap: wrap;
}
#faclogo {
    grid-area: faclogo;
}
#instalogo {
    grid-area: instalogo;
}
#tweetlogo {
    grid-area: tweetlogo;
}
#youlogo {
    grid-area: youlogo;
} */