$light-red: #E60012;
$dark-red: #ac000d;
html,
body {
    height: 100vh;
    width: 100vw;
    font-family: museo-sans, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: rgb(72, 72, 72);
}

h1:first-child {
    padding-left: 7%;
}

.gridCharacters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 7%;
    gap: 2%;
}

.Charactersstyles {
    position: relative;
    padding: 0;
    grid-template-rows: 1fr 1fr;
}

.background {
    border-width: 0;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 300px;
}

.over {
    border-width: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}

// schede
a {
    text-decoration: none;
}

.totCard {
    overflow: scroll;
}

.BestSellerDigitali {
    display: flex;
    align-items: center;
    gap: 20px;
    
    padding-left: 10%;
   
}

.title_Best_seller {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 20px;
}

.linea {
    color: rgb(202, 202, 202);
    font-size: 35px;
}

.full_list {
    color: $light-red;
    text-decoration: underline;
}

.full_list:hover {
    color: $dark-red;
} 

.section_Best_seller {
    display: flex;
    gap: 10px;
    padding-left: 10%;
}

.left {
    border-width: 0;
    margin: 0;
    padding: 0;
    position: absolute;
}

#firstCard {
    border-width: 0;
    margin: 0;
    padding: 0;
}

.left,
.right {
    background-color: transparent;
    border: grey;
    opacity: 20%;
    width: 50px;
    height: 350px;
}

.left:hover,
.right:hover {
    background-color: rgb(72, 72, 72);
    opacity: 100%;
} 


.link:hover {
    .over:hover {
        transform: scale(1.15);
    }

    .background:hover {
        transform: scale(1.15);
    } 
    
}

.card {
    border: 1px solid rgb(202, 202, 202);
    width: 300px;
    height: 350px;
}

.image {
    width: 300px;
    height: 169px;
    box-sizing: border-box;
}

.card:hover .image {
    position: relative;
    bottom: 10px;
  }

  .nameCard {
    color: rgb(72, 72, 72);
}

.card:hover .nameCard {
    color: $light-red;
}

.nuovo {
    border-radius: 5px;
    background-color: $light-red;
    color: white;
    width: 20%;
}

.costo {
    color: rgb(72, 72, 72);
}

.fineCard {
    display: flex;
    flex-direction: column;
    padding-top: 7%;
    padding-left: 4%;
}

.fineCard1 {
    display: flex;
    flex-direction: column;
    padding-left: 4%;
}

.endCard {
    display: flex;
    flex-direction: column;
    padding-top: 15%;
    padding-left: 4%;
}

.end {
    display: grid;
    align-items: center;
    grid-template-columns: 0% 75% 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
}

.barra {
    color: $light-red;
    font-size: 25px;
}

.Nintendo {
    color: rgb(72, 72, 72);
}

// bottoe full list fine card 

.Buttonstyles {
    width: 70px;
}

.See_full_list2 {
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid white;
    background-color: $light-red;
    border-radius: 2%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

.See_full_list2:hover {
    background-color: $dark-red;
    color: white;
}

.Buttonstyles__Span {
    text-decoration: none;
    color: white;
    width: 70px;
}

// bottone like

.heart {
    width: 40px;
    height: 40px;
    background-color: white;
    border: none;
}

.svg{
    width: 40px;
    height: 40px;
}

.heart-filled {
   background-color: red;
   color: white;
    line-height: 1;
    color: $light-red;
    border-color: $light-red;
    border-width: 3px;
    font-size: 5px;
}


.heart-outline {
    animation: 0s ease 0s 1 normal none running none;
   border: 2px solid $light-red;
    line-height: 1;
    background-color: $light-red;
    color: $light-red;
}

.sparks{
    color: $light-red;
    display: none;
}

.heart:hover .sparks {
    color: $dark-red;
    display: contents;
}